# Statistical Methods in Pandas - Lab

## Introduction

In this lab you'll get some hands-on experience using some of the key summary statistics methods in Pandas.

## Objectives
You will be able to:

- Calculate summary statistics for a series and DataFrame 
- Use the `.apply()` or `.applymap()` methods to apply a function to a pandas series or DataFrame  


## Getting Started

For this lab, we'll be working with a dataset containing information on various lego datasets. You will find this dataset in the file `'lego_sets.csv'`.   

In the cell below:

- Import Pandas and set the standard alias of `pd`
- Import the `'lego_sets.csv'` dataset 
- Display the first five rows of the DataFrame to get a feel for what we'll be working with

In [1]:
# Import pandas
import pandas as pd

# Import the 'lego_sets.csv' dataset
df = pd.read_csv('lego_sets.csv')

# Print the first five rows of DataFrame
df.head(5)

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country
0,6-12,29.99,2.0,277.0,4.0,Catapult into action and take back the eggs fr...,75823.0,Use the staircase catapult to launch Red into ...,Average,Bird Island Egg Heist,4.5,Angry Birds™,4.0,US
1,6-12,19.99,2.0,168.0,4.0,Launch a flying attack and rescue the eggs fro...,75822.0,Pilot Pig has taken off from Bird Island with ...,Easy,Piggy Plane Attack,5.0,Angry Birds™,4.0,US
2,6-12,12.99,11.0,74.0,4.3,Chase the piggy with lightning-fast Chuck and ...,75821.0,Pitch speedy bird Chuck against the Piggy Car....,Easy,Piggy Car Escape,4.3,Angry Birds™,4.1,US
3,12+,99.99,23.0,1032.0,3.6,Explore the architecture of the United States ...,21030.0,Discover the architectural secrets of the icon...,Average,United States Capitol Building,4.6,Architecture,4.3,US
4,12+,79.99,14.0,744.0,3.2,Recreate the Solomon R. Guggenheim Museum® wit...,21035.0,Discover the architectural secrets of Frank Ll...,Challenging,Solomon R. Guggenheim Museum®,4.6,Architecture,4.1,US

## Getting DataFrame-Level Statistics

We'll begin by getting some overall summary statistics on the dataset. There are two ways we'll get this information -- `.info()` and `.describe()`.

The `.info()` method provides us metadata on the DataFrame itself. This allows us to answer questions such as:

* What data type does each column contain?
* How many rows are in my dataset? 
* How many total non-missing values does each column contain?
* How much memory does the DataFrame take up?

In the cell below, call our DataFrame's `.info()` method.

In [2]:
# Call the .info() method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ages               12261 non-null  object
 1   list_price         12261 non-null  float64
 2   num_reviews        10641 non-null  float64
 3   piece_count        12261 non-null  float64
 4   play_star_rating   10486 non-null  float64
 5   prod_desc          11884 non-null  object
 6   prod_id            12261 non-null  float64
 7   prod_long_desc     12261 non-null  object
 8   review_difficulty  10206 non-null  object
 9   set_name           12261 non-null  object
 10  star_rating        10641 non-null  float64
 11  theme_name         12258 non-null  object
 12  val_star_rating    10466 non-null  float64
 13  country            12261 non-null  object
dtypes: float64(7), object(7)
memory usage: 1.3+ MB

#### Interpreting the Results

Read the output above, and then answer the following questions:

- How many total rows are in this DataFrame?  
- How many columns contain numeric data? 
- How many contain categorical data? 
- Identify at least 3 columns that contain missing values. 

Write your answer below this line:
12261 rows,14 columns,7 has categirical data,theme_name,star_rating,val_star_rating
________________________________________________________________________________________________________________________________

Whereas `.info()` provides statistics about the DataFrame itself, `.describe()` returns output containing basic summary statistics about the data contained with the DataFrame.  

In the cell below, call the DataFrame's `.describe()` method.

In [3]:
# Call the .describe() method
df.describe()

,list_price,num_reviews,piece_count,play_star_rating,prod_id,star_rating,val_star_rating
count,12261.000000,10641.000000,12261.000000,10486.000000,1.226100e+04,10641.000000,10466.000000
mean,65.141998,16.826238,493.405921,4.337641,5.983675e+04,4.514134,4.228960
std,91.980429,36.368984,825.364580,0.652051,1.638115e+05,0.518865,0.660282
min,2.272400,1.000000,1.000000,1.000000,6.300000e+02,1.800000,1.000000
25%,19.990000,2.000000,97.000000,4.000000,2.103400e+04,4.300000,4.000000
50%,36.587800,6.000000,216.000000,4.500000,4.206900e+04,4.700000,4.300000
75%,70.192200,13.000000,544.000000,4.800000,7.092200e+04,5.000000,4.700000
max,1104.870000,367.000000,7541.000000,5.000000,2.000431e+06,5.000000,5.000000

#### Interpreting the Results

The output contains descriptive statistics corresponding to the columns. Use these to answer the following questions:

- How much is the standard deviation for `piece count`? 
- How many pieces are in the largest lego set?
- How many in the smallest lego set? What is the median `val_star_rating`?

_std deviation for 'piece count'__825.364580__
12261
10466,median is 4.30000
___________________________________________________________________________________________________________________________

## Getting Summary Statistics

Pandas also allows us to easily compute individual summary statistics using built-in methods.  Next, we'll get some practice using these methods. 

In the cell below, compute the median value of the `star_rating` column.

In [7]:
# Calculate the median of the star_rating column
df['star_rating'].median()

4.7

Next, get a count of the total number of unique values in `play_star_rating`.

In [8]:
# Print the number of unique values in play_star_rating
df['play_star_rating'].unique

<bound method Series.unique of 0        4.0
1        4.0
2        4.3
3        3.6
4        3.2
        ...
12256    4.4
12257    4.1
12258    4.6
12259    5.0
12260    4.5
Name: play_star_rating, Length: 12261, dtype: float64>

Now, compute the standard deviation of the `list_price` column.

In [12]:
# Calculate the standard deviation of the list_price column
df['list_price'].std()

91.9804293059243

If we bought every single lego set in this dataset, how many pieces would we have?  

> **Note**: If you truly want to answer this accurately, and are up for the challenge, remove duplicate lego-set entries before summing the pieces. That is, many of the lego sets are listed multiple times in the dataset above, depending on the country where it is being sold and other unique parameters. If you're stuck, just practice calculating the total number of pieces in the dataset for now.

In [27]:
# Total number of pieces across all unique Lego set
df.value_counts()

ages  list_price  num_reviews  piece_count  play_star_rating  prod_desc                                                        prod_id  prod_long_desc                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            review_difficulty  set_name                   star_rating  theme_name   val_star_rating  country
10+   9.9900      9.0          99.0         3.5               Channel Batgirl™ with your own LEGO® BrickHeadz version!         41586.0  New for March 2017, LEGO® BrickHeadz construction characters bring you a brand new way to collect, build and display iconic characters from your favorite movies, TV series, games and comics. This Batgirl™ BrickHeadz construction character is fun to build using LEGO System bricks that recreate all of her iconic details, including her Batgirl icon and a yellow Batarang. She also stands on a buildable baseplate with series number and BrickHeadz icon for easy display. Whatever the mission, Batgirl will not let you down.\r\nBuildable Batgirl™ LEGO® BrickHeadz construction character features authentic detailing, uniquely decorated BrickHeadz eyes, a yellow Batarang, plus a display baseplate.\r\nEach LEGO® BrickHeadz construction character comes with its own buildable collector’s baseplate, featuring series number and BrickHeadz icon.\r\nHave fun growing your LEGO® BrickHeadz collection with other classic characters from your favorite movies, TV series, games and comics, including 41585 Batman™, 41587 Robin™ and 41588 The Joker™ from THE LEGO BATMAN movie.\r\nMash up your LEGO® BrickHeadz construction characters to create supercool hybrids or your own amazing characters.\r\nStands over 2” (7cm) tall without baseplate.\r\nBaseplate measures over 1” (4cm) square and under 1” (1cm) high.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Easy               Batgirl™                   4.3          BrickHeadz   4.6              US         3
5+    3.9900      22.0         8.0          4.3               Bring the NINJAGO® world to life with LEGO® Minifigures!         71019.0  Bring exciting new play possibilities to LEGO® NINJAGO® sets with LEGO Minifigures—THE LEGO NINJAGO MOVIE™ series, featuring Kai Kendo, Spinjitzu Training Nya, Lloyd, Jay Walker, Cole, Zane, Lloyd Garmadon, Master Wu, Sushi Chef, N-POP Girl, GPL Tech, Shark Army Octopus, Shark Army Great White, Shark Army General #1, Shark Army Angler, Garmadon, Volcano Garmadon, Flashback Garmadon, Misako and Gong & Guitar Rocker. Each minifigure comes in a sealed ‘mystery’ bag, together with one or more accessories, plus a display plate and a collector’s leaflet.\r\nEach minifigure comes with one or more accessories, plus a display plate and a collector’s leaflet.\r\nIncludes 2 versions of Lloyd, 3 versions of Garmadon and new-for-August-2017 versions of Nya and Kai.\r\nCollect this series of LEGO® Minifigures characters and create your very own action-packed THE LEGO NINJAGO® MOVIE™ scenes!\r\nNew-for-August-2017 elements include a black hat and weapon for Garmadon, scarf for Jay, wigs for Lloyd, Jay, Nya, Kai and Misako, octopus helmet, angler fish helmet, bowls, spoons and a 2x3 blue tile with printed blueprint for Lloyd’s dragon mech.\r\nCombine with LEGO® building sets for endless play possibilities.\r\nHave fun trading minifigures with your friends.\r\nPLEASE NOTE: Each ‘mystery’ bag contains one of the 20 characters available in this collection. Unfortunately, we cannot accommodate requests for specific minifigures. If you purchase more than one ‘mystery' bag, you may receive 2 or more identical minifigures.                                                                                                                                                                                                                                                     Very Easy          THE LEGO® NINJAGO® MOVIE™  4.3          Minifigures  4.1              US         3
10+   9.9900      11.0         91.0         3.8               Celebrate THE LEGO® BATMAN MOVIE with a LEGO BrickHeadz Batman!  41585.0  New for March 2017, LEGO® BrickHeadz construction characters bring you a brand new way to collect, build and display iconic characters from your favorite movies, TV series, games and comics. This Batman™ BrickHeadz construction character is fun to build using colorful LEGO System bricks that recreate all of his iconic details, including his Batsuit with icon and utility belt decoration, plus a Batarang. He also stands on a buildable baseplate with series number and BrickHeadz icon for easy display, so you can bring the Caped Crusader to any room or office.\r\nBuildable Batman™ LEGO® BrickHeadz construction character features colorful and authentic detailing, glow-in-the-dark BrickHeadz eyes, plus a display baseplate.\r\nEach LEGO® BrickHeadz construction character comes with its own buildable collector’s baseplate featuring series number and BrickHeadz icon.\r\nHave fun growing your LEGO® BrickHeadz collection with other classic characters from your favorite movies, TV series, games and comics, including 41586 Batgirl™, 41587 Robin™ and 41588 The Joker™ from THE LEGO BATMAN MOVIE.\r\nMash up your LEGO® BrickHeadz construction characters to create supercool hybrids or your own amazing characters.\r\nStands over 2” (7cm) tall without baseplate.\r\nBaseplate measures over 1” (4cm) square and under 1” (1cm) high.                                                                                                                                                                                                                                                                                                                                                                                                                                                        Very Easy          Batman™                    4.9          BrickHeadz   4.7              US         3
                  12.0         151.0        3.3               Show off the evil trickster with LEGO® BrickHeadz The Joker™!    41588.0  New for March 2017, LEGO® BrickHeadz construction characters bring you a brand new way to collect, build and display iconic characters from your favorite movies, TV series, games and comics. This The Joker™ BrickHeadz construction character is fun to build using LEGO System bricks that recreate all of his iconic details from THE LEGO BATMAN MOVIE, including BrickHeadz eyes, buildable white face, green hair and outfit. Display Batman’s enigmatic archenemy in your home, office or anywhere you like.\r\nBuildable The Joker™ LEGO® BrickHeadz construction character features authentic detailing, BrickHeadz eyes, buildable green hair and outfit from THE LEGO BATMAN MOVIE, plus a display baseplate.\r\nEach LEGO® BrickHeadz construction character comes with its own buildable collector’s baseplate, featuring series number and BrickHeadz icon.\r\nHave fun growing your LEGO® BrickHeadz collection with other classic characters from your favorite movies, TV series, games and comics, including 41585 Batman™, 41586 Batgirl™ and 41587 Robin™ from THE LEGO BATMAN MOVIE.\r\nMash up your LEGO® BrickHeadz construction characters to create supercool hybrids or your own amazing characters.\r\nStands over 2” (7cm) tall without baseplate.\r\nBaseplate measures over 1” (4cm) square and under 1” (1cm) high.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      Easy               The Joker™                 4.8          BrickHeadz   4.7              US         3
                  7.0          102.0        4.0               Unleash your true ninja spirit with LEGO® BrickHeadz Lloyd!      41487.0  This Lloyd LEGO® BrickHeadz construction character is fun to build using colorful LEGO bricks that recreate all of his iconic details, including ninja outfit with headband and belt. He also has a detachable katana sword and stands on a buildable collector’s baseplate with BrickHeadz icon for easy display in your home, office or anywhere you like.\r\nBuildable Lloyd LEGO® BrickHeadz construction character features BrickHeadz eyes and has authentic details from the blockbuster THE LEGO NINJAGO® MOVIE™, including green and black ninja outfit with headband and belt, plus a detachable katana.\r\nEach LEGO® BrickHeadz construction character comes with its own buildable collector's baseplate featuring the BrickHeadz icon.\r\nHave fun growing your LEGO® BrickHeadz collection with other classic characters, including 41488 Master Wu, from your favorite movies, TV series, games and comics.\r\nMash up your LEGO® BrickHeadz construction characters to create supercool hybrids or your own amazing characters.\r\nThis popular construction character is suitable for ages 10+.\r\nStands over 2” (7cm) tall without baseplate.\r\nBaseplate measures over 1” (4cm) square and under 1” (1cm) high.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Easy               Lloyd                      5.0          BrickHeadz   4.7              US         3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
7-12  91.4878     2.0          603.0        5.0               Jump aboard the luxury Sunshine Catamaran with friends!          41317.0  Take a luxury cruise on the LEGO® Friends Sunshine Catamaran, with a sun deck, pool, bridge, slide, spiral stairs, garage and sliding doors into the living quarters. Lift the top off the boat for easy access to the kitchen, bedrooms and lounge with a clear bottom. Use the personal water scooter to pull the banana boat or inflatable ring, and play with the friendly dolphin all day long. Includes 3 mini-doll figures and 2 dolphin figures.\r\nIncludes 3 mini-doll figures: Olivia, Stephanie and Liam, plus Sheen and Sapphire the dolphin figures.\r\nFeatures a 3-level catamaran, personal water scooter and a banana boat.\r\nCatamaran features a sun deck with 2 sun loungers and a pool, bridge with steering controls and a seating area, slide into and spiral stairs up from the water, opening garage for the personal water scooter, and living quarters with a kitchen, bedrooms and lounge with sofa and transparent-brick floor.\r\nAccessory elements include an inflatable ring, life preservers, flippers, ice creams, popsicle, baskets, newspaper, smartphone and an mp3 player.\r\nTake a luxury vacation on the LEGO® Friends Catamaran and enjoy the pool on deck.\r\nTake the top off the boat to play in the living quarters and see the clear bottom in the lounge.\r\nHave fun with friends on the banana boat or inflatable ring towed by the personal water scooter.\r\nMake friends with the dolphins as they swim alongside the catamaran.\r\nLEGO® Friends Sunshine Catamaran does not float on water.\r\nCatamaran with sail measures over 12” (32cm) high, 11” (29cm) long and 6” (17cm) wide.\r\nPersonal water scooter measures over 1” (5cm) long and 1” (3cm) wide, and under 1” (2cm) high.\r\nBanana boat measures over 3” (10cm) long and under 1” (2cm) high and 1” (1cm) wide.  Challenging        Sunshine Catamaran         4.5          Friends      5.0              BE         1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           DE         1

Now, let's try getting the value for the 90% quantile for all numerical columns.  Do this in the cell below.

In [19]:
# Get the 90% quantile for all numerical columns
df.quantile(.9)

list_price            136.2971
num_reviews            38.0000
piece_count          1077.0000
play_star_rating        5.0000
prod_id             75531.0000
star_rating             5.0000
val_star_rating         5.0000
Name: 0.9, dtype: float64

## Getting Summary Statistics on Categorical Data

For obvious reasons, most of the methods we've used so far only work with numerical data -- there's no way to calculate the standard deviation of a column containing string values. However, there are some things that we can discover about columns containing categorical data. 

In the cell below, print the unique values contained within the `review_difficulty` column.

In [20]:
# Print the unique values in the review_difficulty column
df['review_difficulty'].unique

<bound method Series.unique of 0            Average
1               Easy
2               Easy
3            Average
4        Challenging
            ...
12256           Easy
12257           Easy
12258           Easy
12259      Very Easy
12260           Easy
Name: review_difficulty, Length: 12261, dtype: object>

Now, let's get the `value_counts()` for this column, to see how common each is.

In [22]:
# Get the value_counts() of the review_difficulty column
df['review_difficulty'].value_counts()

Easy                4236
Average             3765
Very Easy           1139
Challenging         1058
Very Challenging       8
Name: review_difficulty, dtype: int64

As you can see, these provide us quick and easy ways to get information on columns containing categorical information.  


## Using `.applymap()`

When working with pandas DataFrames, we can quickly compute functions on the data contained by using the `.applymap()` method and passing in a lambda function. 

For instance, we can use `applymap()` to return a version of the DataFrame where every value has been converted to a string.

In the cell below:

* Call the DataFrame's `.applymap()` method and pass in `lambda x: str(x)`  
* Call the new `string_df` object's `.info()` method to confirm that everything has been cast to a string

In [33]:
# Call the .applymap() method
string_df = df.applymap (lambda x: str(x))
df = df.astype(str)

# Call the .info() method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ages               12261 non-null  object
 1   list_price         12261 non-null  object
 2   num_reviews        12261 non-null  object
 3   piece_count        12261 non-null  object
 4   play_star_rating   12261 non-null  object
 5   prod_desc          12261 non-null  object
 6   prod_id            12261 non-null  object
 7   prod_long_desc     12261 non-null  object
 8   review_difficulty  12261 non-null  object
 9   set_name           12261 non-null  object
 10  star_rating        12261 non-null  object
 11  theme_name         12261 non-null  object
 12  val_star_rating    12261 non-null  object
 13  country            12261 non-null  object
dtypes: object(14)
memory usage: 1.3+ MB

Note that everything -- even the `NaN` values, have been cast to a string in the example above. 

Note that for Pandas Series objects (such as a single column in a DataFrame), we can do the same thing using the `.apply()` method.  

This is just one example of how we can quickly compute custom functions on our DataFrame.

## Summary

In this lab, we learned how to:

* Use the `df.describe()` and `df.info()` summary statistics methods 
* Use built-in Pandas methods for calculating summary statistics 
* Apply a function to every element in a DataFrame